@import url('https://fonts.googleapis.com/css?family=Oswald:700');

@font-face {
    font-family: 'Din';
    src: url('/fonts/DINNextLTPro-Regular.otf') format('TrueType');
    font-weight: normal;
    font-style: normal;
}
