html, body, #__nuxt {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: normal;
	overflow: hidden;
}

.MTKnox {
	font-family: 'MTKnox';
	letter-spacing: 0.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2 {
	font-size: 10vw;
	@extend .MTKnox;
}

h3 {
	font-size: 1.4vw;
}
