html, body, #__nuxt {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', 'sans-serif';
	font-weight: normal;
	overflow: hidden;
	line-height: 1.5;
	color: var(--black);
}

.MTKnox {
	font-family: 'MT Knox';
	letter-spacing: 0.1em;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h2, h3, h4 {
	font-weight: normal;
	font-family: 'Fjalla One', sans-serif;
}

h2 {
	text-transform: uppercase;
	font-size: 3rem;
}
